@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 16vmin;
    height: 16vmin;
    border-radius: 16vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 28;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 4%;
    left: 15%;
    animation-duration: 39s;
    animation-delay: -156s;
    transform-origin: 23vw -12vh;
    box-shadow: 32vmin 0 4.505961321898972vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 81%;
    left: 6%;
    animation-duration: 116s;
    animation-delay: -94s;
    transform-origin: 8vw -1vh;
    box-shadow: -32vmin 0 4.934822106157734vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 41%;
    left: 97%;
    animation-duration: 105s;
    animation-delay: -53s;
    transform-origin: 14vw 7vh;
    box-shadow: 32vmin 0 4.0899714759271735vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 25%;
    left: 80%;
    animation-duration: 217s;
    animation-delay: -198s;
    transform-origin: -16vw 8vh;
    box-shadow: -32vmin 0 4.172110274961166vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 39%;
    left: 57%;
    animation-duration: 150s;
    animation-delay: -204s;
    transform-origin: -3vw 0vh;
    box-shadow: -32vmin 0 4.634445154581616vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 96%;
    left: 78%;
    animation-duration: 98s;
    animation-delay: -90s;
    transform-origin: 2vw 25vh;
    box-shadow: -32vmin 0 4.507021543527834vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 23%;
    left: 1%;
    animation-duration: 85s;
    animation-delay: -155s;
    transform-origin: 12vw 5vh;
    box-shadow: -32vmin 0 4.115381625290224vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 17%;
    left: 77%;
    animation-duration: 43s;
    animation-delay: -58s;
    transform-origin: -15vw -1vh;
    box-shadow: 32vmin 0 4.349354162711718vmin currentColor;
}
.background span:nth-child(8) {
    color: #E45A84;
    top: 5%;
    left: 60%;
    animation-duration: 126s;
    animation-delay: -172s;
    transform-origin: 15vw -19vh;
    box-shadow: -32vmin 0 4.8963959445800604vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 91%;
    left: 9%;
    animation-duration: 162s;
    animation-delay: -91s;
    transform-origin: -14vw -11vh;
    box-shadow: 32vmin 0 4.0061433847385715vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 27%;
    left: 26%;
    animation-duration: 11s;
    animation-delay: -6s;
    transform-origin: -14vw -16vh;
    box-shadow: 32vmin 0 4.563757364941965vmin currentColor;
}
