@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form-container{
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

#form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.textoPregunta {
  width: 90%;
  text-align: center;
  margin: 0.8rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;

  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px,
    rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px,
    rgb(0, 0, 0) 0.705713px 2.91581px 0px,
    rgb(0, 0, 0) -0.287171px 2.98622px 0px,
    rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px,
    rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px,
    rgb(0, 0, 0) -2.94502px -0.571704px 0px,
    rgb(0, 0, 0) -2.59586px -1.50383px 0px,
    rgb(0, 0, 0) -1.96093px -2.27041px 0px,
    rgb(0, 0, 0) -1.11013px -2.78704px 0px,
    rgb(0, 0, 0) -0.137119px -2.99686px 0px,
    rgb(0, 0, 0) 0.850987px -2.87677px 0px,
    rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px,
    rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.cajaPregunta {
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #801245;
  border-radius: 10px;
  padding: 5px 0;
  margin: 5px 0;

  background-color: rgba(0, 0, 0, 0.651);

  box-shadow: 0px 0px 37px 18px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 0px 37px 18px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 0px 37px 18px rgba(0, 0, 0, 0.77);

  transition: all 0.3s ease-in-out;
}

.disabled{
  display: none;
}

.cajaPregunta:hover {
  border-color: #ac2564;
}

.cajaOpciones {
  width: 100%;
  display: flex;
  justify-content: space-around; /* Cambia a flex-start */
  align-items: center;
  flex-direction: column;
  
}

.textoOpcion {
  width: 50%;
  text-align: left; /* Agrega esta línea */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;
  padding: 5px;

  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

.opcionRadio {
  cursor: pointer;
}

.btnSiguiente, .btnSubmit {
  width: 20vh;
  margin: 10px 0;
  padding: 10px 0;
  background-color: #801245;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3s ease-in-out all;
}
.btnSiguiente:hover, .btnSubmit:hover {
  background-color: #5a032c;
  transform: scale(1.1);
}
.btnSiguiente:focus, .btnSubmit:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.cajaEscala{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  min-width: 225px;
  text-align: left;
  flex-wrap: wrap;
}
.textoEscala{
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 5px;
}

.mensaje{
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  color: red;
}

.textoArea{
  width: 45%;
  height: 8vh;
  resize: none;
  padding: 12px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #801245;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out all;
  background-color: #5a032c36;
  border-radius: 10px;
  color: #fff;
}
.textoArea:focus{
  border-bottom: 1px solid #ac2564;
}
.inputEdad{
  width: 25%;
  min-width: 150px;
  padding: 10px 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #801245;
  font-size: 1rem;  
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;  
  transition: 0.3s ease-in-out all;
  background-color: #5a032c36;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
.inputEdad:focus{
  border-bottom: 1px solid #ac2564;
}
.inputEdad::-webkit-inner-spin-button,
::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.error-elemento{
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}
.cajaOpciones2{
  display: flex;
  flex-direction: row;
}

.cajaLabel{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cajaLabel label{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: 400;
  width: 50%;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}
.cajaLabel label input[type="radio"]{

  cursor: pointer;
  width: 25%;
  margin: 0;
  padding: 0;

}
.cajaRadios{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
