#progress-status{
    width: 50%;
    background-color: #00000000;
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 25%;
    border: 1.5px solid black;
    border-radius: 50px;

}

#progress-bar{
    width: 25%;
    height: 5vh;
    background-color: hsl(122, 100%, 61%);
    text-align: center;
    line-height: 32px;
    color: black;
    border-radius: 50px;
    position: relative;
}
#progress-text{
    margin: 0 auto;
    width: 25%;
    position: absolute;
    z-index: 2;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
}